
body {


background-color: #fff;

}

.top {
	background-color: #feefe2;
}



.title {
	color: #cd133f;
	font-size: 70px;
	text-align: center;
	/*text-shadow: 0px 2px 3px #073c8e;*/
	letter-spacing: 5px;
	font-family: 'Pacifico', Georgia, Times, Serif;
}

.subsection {
	font-family: 'Pacifico', Georgia, Times, Serif;
	color: #cd133f;
	text-align: center;

}

.main-photo{

	background: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
}

.one {
	
	background-color: #7a7a7a;
	color: #000;
	margin-top: 50px;
}

.first {
	font-family: 'Pacifico', Georgia, Times, Serif;
	color: #fff;
	letter-spacing: 5px;
}